body{
    height: 100vh !important;
}

#main-content{
    overflow: hidden;
    height: 100%;
    width:100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

#header,#footer{
    flex-shrink: 0;
}

#footer{
    position: sticky;
    bottom: 0;
}

button{
    border-radius: 5px;
    border: var(--alternative-color) solid 1px;
    background-color: var(--primary-color);
    cursor: pointer;
    color: #fff;
}

#left-divider button{
    margin-top: 10px;
    padding: 10px;
    font-size: var(--subtitle-font-size);
}

#forum-post-form{
    width: 100%;
    margin: 0 10px;
    padding: 0;
}

input, textarea{
    margin-top: 10px;
    width: 80%;
    border: var(--alternative-color) solid 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: var(--text-font-size);
}

textarea{
    height: 200px;
}

#left-divider{
    overflow: hidden;
    height:100%;
    width: 45%;
    padding-top: 10px;
    padding-bottom: 24px;
    border-right: 2px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forum-posts{
    height:100%;
    overflow: hidden;
    padding-bottom: 24px;
}

#forum-posts, #forum-comments-overflow{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#forum-comments-overflow{
    padding-bottom: 24px;
}

#forum-posts-overflow{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.post-card{
    cursor: pointer;
    margin: 0 10px;
    padding: 10px;
    border: var(--primary-color) solid 2px;
    border-radius: 4px;
    width: 80%;
}

.post-card-title{
    font-size: var(--subtitle-font-size);
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 5px;
}

#forum-post-button{
    margin-bottom: 12px;
}

#right-divider{
    height:100%;
    overflow: hidden;
    padding-top: 20px;
    padding-left:24px;
    padding-right: 12px;
    width: 55%;
}

#forum-post-view{
    height:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}

#right-divider h3{
    font-size: var(--huge-font-size);
    font-weight: bold;
    margin-bottom: 6px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0;
}

#chosen-post-box{
    font-size: var(--text-font-size);
    margin: 10px 10px;
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 5px;
}

#chosen-post-body{
    font-weight: 600;
    margin-bottom: 12px;
}

#chosen-post-bottom, .comment-card-bottom, .post-card-bottom{
    font-style: italic;
}

.post-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.label{
    font-size: var(--subtitle-font-size);
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 4px;
}

#comment-button-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 5px;
    padding-right: 25px;
}

#comment-button-line h4{
    font-size: var(--title-font-size);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
}

#comment-button-line button{
    height: 40px;
    font-size: var(--text-font-size);
}

.comment-field{
    margin-bottom: 16px;
}

.comment-label{
    font-size: var(--subtitle-font-size);
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 4px;
}

#forum-post-submit, #forum-comment-submit{
    margin-top: 10px;
    padding: 10px;
    font-size: var(--subtitle-font-size);
}

#forum-comment-cancel{
    margin-top: 10px;
    padding: 10px;
    font-size: var(--subtitle-font-size);
    background-color: red;
}

#comment-submit-buttons{
    margin-bottom: 20px;
}

.comment-card{
    margin: 0 10px;
    padding: 10px;
    border: 0.8px solid var(--secondary-color);
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment-card-comment{
    font-size: var(--text-font-size);
    font-weight: 800;
    margin-bottom: 5px;
}