:root{
    --primary-color: #14213d;
    --secondary-color: #fca311;
    --alternative-color: #e5e5e5;

    --title-font-size: 24px;
    --subtitle-font-size: 20px;
    --text-font-size: 16px;
}

body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin: 0px;

    font-family: 'Roboto', sans-serif;
    font-size: var(--text-font-size);
    margin: 0;
}

.mobile-header{
    display:none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary-color);
    border-bottom: #000 solid 2px;
    text-align: center;
    padding: 20px 64px;
    padding-bottom: 30px;
    color: #fff;

    position: sticky;
    top: 0;
}

.header-left
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-left a{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    text-decoration: none;
    color: #fff;
    font-weight: bold;

    font-size: var(--title-font-size);
}

.home,.about,.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-right a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-left img {
    height: auto;
    max-width: 65px;
    object-fit: contain;
}

.header-right img{
    height: auto;
    max-width: 65px;
    object-fit: contain;
    margin-bottom: 20px;
}

.header .header-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 78px;
}

.header .header-right a{
    display: flex;
    flex-direction: column;

    font-size: var(--subtitle-font-size);
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

.header .header-right a:hover{
    text-decoration: underline;
}

#top-button{
    -webkit-tap-highlight-color: transparent;
    display: none;
    opacity: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    padding: 10px;


    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* overlay */
}

#top-button img{
    height: auto;
    max-width: 30px;
}