@media (max-width: 600px){
    .mobile-header{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        background-color:var(--primary-color);
    }

    .mobile-header-top{
        display:flex;
        justify-content: space-between;
        align-items:center;
        gap: 200px;
        padding-top: 20px;
        width: 100%;
        margin-bottom: 10px;
    }

    .mobile-header-dropdown,.mobile-header-left{
        display:flex;
        width: 20%;
    }

    .mobile-header img{
        height: auto;
        max-width: 45px;
    }

    .mobile-header-dropdown-content{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: var(--primary-color);
        border-top: 1px solid var(--secondary-color);
        width: 100%;
    }

    .mobile-header-dropdown-content a{
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;

        padding: 10px 20px;

        text-decoration: none;
        color: #fff;
    }



    .header{
        display:none;
    }
}