@media (max-width: 600px){
    :root{
        --title-font-size: 16px;
        --subtitle-font-size: 14px;
        --text-font-size: 12px;
    }

    .mobile-header{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        background-color:var(--primary-color);
        width: 100%;
    }

    .mobile-header-top{
        display:flex;
        padding: 12px 0;
        width: 100%;
    }

    .mobile-header-dropdown,.mobile-header-left{
        display:flex;
        width: 20%;
    }

    .mobile-header-dropdown{
        margin-left: auto;
    }

    .mobile-header-dropdown,.mobile-header-left{
        display:flex;
        justify-content:center;
    }

    .mobile-header img{
        height: auto;
        max-width: 36px;
    }

    .mobile-header-dropdown-content{
        overflow: hidden;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: var(--primary-color);
        border-top: 1px solid var(--secondary-color);
        width: 100%;
    }

    .mobile-header-dropdown-content a{
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;

        padding: 10px 20px;

        text-decoration: none;
        color: #fff;
    }

    .header{
        display:none;
    }


    /* Table styles */

    th,td{
        padding: 10px 20px;
    }

    .main-content{
        padding: 5px;
    }

    #filter-input{
        gap: 10px;
    }

    #filter-input input{
        width: 50%;
    }

    .card{
        height: auto !important;
        width: 150px !important;
    }

}