table{
    border-collapse:collapse;
}

th {
    font-size: 26px;
    font-weight: bold;
    background-color: var(--secondary-color);


    padding: 20px 15px;
    text-align: center;
    border: #000 solid 1px;
}

td{
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    color: var(--primary-color);

    padding: 20px 15px;
    text-align: center;

    border: var(--alternative-color) solid 1px;;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}